<html>
<title>
HOme Page
</title>
<body>
<h1>Bienvenue</h1>
<h2>Esprit CLub</h2>
<img src="{{ asset('img/7038156-video-games-portal-tetris-super-mario-companion-cube-christmas-bowser-plants-vs-zombies-sonic-game-boy-art.jpg') }}" alt="">

</body>
</html>